{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowScopedEC2InstanceAccessActions",
      "Effect": "Allow",
      "Resource": [
        "arn:${partition}:ec2:*::image/*",
        "arn:${partition}:ec2:*::snapshot/*",
        "arn:${partition}:ec2:*:${account_id}:security-group/*",
        "arn:${partition}:ec2:*:${account_id}:subnet/*",
        "arn:${partition}:ec2:*:${account_id}:capacity-reservation/*"
      ],
      "Action": [
        "ec2:RunInstances",
        "ec2:CreateFleet"
      ],
      "Condition": {
        "StringEquals": {
          "aws:RequestedRegion": ${regions_json}
        }
      }
    },
    {
      "Sid": "AllowScopedEC2LaunchTemplateAccessActions",
      "Effect": "Allow",
      "Resource": "arn:${partition}:ec2:*:${account_id}:launch-template/*",
      "Action": [
        "ec2:RunInstances",
        "ec2:CreateFleet"
      ],
      "Condition": {
        "StringEquals": {
          "aws:RequestedRegion": ${regions_json},
          "aws:ResourceTag/eks:eks-cluster-name": "$${aws:PrincipalTag/eks-cluster-name}"
        },
        "StringLike": {
          "aws:ResourceTag/karpenter.sh/nodepool": "*"
        }
      }
    },
    {
      "Sid": "AllowScopedEC2InstanceActionsWithTags",
      "Effect": "Allow",
      "Resource": [
        "arn:${partition}:ec2:*:${account_id}:fleet/*",
        "arn:${partition}:ec2:*:${account_id}:instance/*",
        "arn:${partition}:ec2:*:${account_id}:volume/*",
        "arn:${partition}:ec2:*:${account_id}:network-interface/*",
        "arn:${partition}:ec2:*:${account_id}:launch-template/*",
        "arn:${partition}:ec2:*:${account_id}:spot-instances-request/*",
        "arn:${partition}:ec2:*:${account_id}:capacity-reservation/*"
      ],
      "Action": [
        "ec2:RunInstances",
        "ec2:CreateFleet",
        "ec2:CreateLaunchTemplate"
      ],
      "Condition": {
        "StringEquals": {
          "aws:RequestTag/eks:eks-cluster-name": "$${aws:PrincipalTag/eks-cluster-name}",
          "aws:RequestedRegion": ${regions_json}
        },
        "StringLike": {
          "aws:RequestTag/karpenter.sh/nodepool": "*"
        }
      }
    },
    {
      "Sid": "AllowScopedResourceCreationTagging",
      "Effect": "Allow",
      "Resource": [
        "arn:${partition}:ec2:*:${account_id}:fleet/*",
        "arn:${partition}:ec2:*:${account_id}:instance/*",
        "arn:${partition}:ec2:*:${account_id}:volume/*",
        "arn:${partition}:ec2:*:${account_id}:network-interface/*",
        "arn:${partition}:ec2:*:${account_id}:launch-template/*",
        "arn:${partition}:ec2:*:${account_id}:spot-instances-request/*"
      ],
      "Action": "ec2:CreateTags",
      "Condition": {
        "StringEquals": {
          "aws:RequestTag/eks:eks-cluster-name": "$${aws:PrincipalTag/eks-cluster-name}",
          "ec2:CreateAction": [
            "RunInstances",
            "CreateFleet",
            "CreateLaunchTemplate"
          ],
          "aws:RequestedRegion": ${regions_json}
        },
        "StringLike": {
          "aws:RequestTag/karpenter.sh/nodepool": "*"
        }
      }
    },
    {
      "Sid": "AllowScopedResourceTagging",
      "Effect": "Allow",
      "Resource": "arn:${partition}:ec2:*:${account_id}:instance/*",
      "Action": "ec2:CreateTags",
      "Condition": {
        "StringEquals": {
          "aws:RequestedRegion": ${regions_json},
          "aws:ResourceTag/eks:eks-cluster-name": "$${aws:PrincipalTag/eks-cluster-name}"
        },
        "StringLike": {
          "aws:ResourceTag/karpenter.sh/nodepool": "*"
        },
        "StringEqualsIfExists": {
          "aws:RequestTag/eks:eks-cluster-name": "$${aws:PrincipalTag/eks-cluster-name}"
        },
        "ForAllValues:StringEquals": {
          "aws:TagKeys": [
            "eks:eks-cluster-name",
            "karpenter.sh/nodeclaim",
            "Name"
          ]
        }
      }
    },
    {
      "Sid": "AllowScopedDeletion",
      "Effect": "Allow",
      "Resource": [
        "arn:${partition}:ec2:*:${account_id}:instance/*",
        "arn:${partition}:ec2:*:${account_id}:launch-template/*"
      ],
      "Action": [
        "ec2:TerminateInstances",
        "ec2:DeleteLaunchTemplate"
      ],
      "Condition": {
        "StringEquals": {
          "aws:RequestedRegion": ${regions_json},
          "aws:ResourceTag/eks:eks-cluster-name": "$${aws:PrincipalTag/eks-cluster-name}"
        },
        "StringLike": {
          "aws:ResourceTag/karpenter.sh/nodepool": "*"
        }
      }
    },
    {
      "Sid": "AllowRegionalReadActions",
      "Effect": "Allow",
      "Resource": "*",
      "Action": [
        "ec2:DescribeCapacityReservations",
        "ec2:DescribeImages",
        "ec2:DescribeInstances",
        "ec2:DescribeInstanceTypeOfferings",
        "ec2:DescribeInstanceTypes",
        "ec2:DescribeLaunchTemplates",
        "ec2:DescribeSecurityGroups",
        "ec2:DescribeSpotPriceHistory",
        "ec2:DescribeSubnets"
      ],
      "Condition": {
        "StringEquals": {
          "aws:RequestedRegion": ${regions_json}
        }
      }
    },
    {
      "Sid": "AllowSSMReadActions",
      "Effect": "Allow",
      "Resource": "arn:${partition}:ssm:*::parameter/aws/service/*",
      "Action": "ssm:GetParameter",
      "Condition": {
        "StringEquals": {
          "aws:RequestedRegion": ${regions_json}
        }
      }
    },
    {
      "Sid": "AllowPricingReadActions",
      "Effect": "Allow",
      "Resource": "*",
      "Action": "pricing:GetProducts"
    },
    {
      "Sid": "AllowPassingInstanceRole",
      "Effect": "Allow",
      "Resource": "${node_role_arn}",
      "Action": "iam:PassRole",
      "Condition": {
        "StringEquals": {
          "iam:PassedToService": [
            "ec2.amazonaws.com",
            "ec2.amazonaws.com.cn"
          ]
        }
      }
    },
    {
      "Sid": "AllowInstanceProfileReadActions",
      "Effect": "Allow",
      "Resource": "arn:${partition}:iam::${account_id}:instance-profile/byoc-smith-karpenter-node-profile",
      "Action": "iam:GetInstanceProfile"
    },
    {
      "Sid": "AllowUnscopedInstanceProfileListAction",
      "Effect": "Allow",
      "Resource": "*",
      "Action": "iam:ListInstanceProfiles"
    },
    {
      "Sid": "AllowAPIServerEndpointDiscovery",
      "Effect": "Allow",
      "Resource": "arn:${partition}:eks:*:${account_id}:cluster/$${aws:PrincipalTag/eks-cluster-name}",
      "Action": "eks:DescribeCluster",
      "Condition": {
        "StringEquals": {
          "aws:RequestedRegion": ${regions_json}
        }
      }
    }
  ]
}
